/*##########################################################################################################################*/
/*###################################  VISTA REGISTRO ###################################################################*/
/*##########################################################################################################################*/

/*######  DIV DEL FORMULARIO #######*/
.custom-divRegistro {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 30px; /* Espacio en blanco superior personalizado */
    margin-bottom: 30px; /* Espacio en blanco inferior personalizado */
    max-width: 800px;
  }
/*######  DIV DE cada fila #######*/

  .row-spacing {
    margin-bottom: 30px; /* Espacio entre filas personalizado */
  }

  /*######  BOTON REGISTRAR #######*/
  .custom-button{
    background-color: orangered; 
  color: #fff; 
  border-radius: 10px;
  border-color: orange;
  padding: 10px 20px;
  }

  .custom-button:hover {
    background-color: rgb(179, 95, 0); /* Cambiar el color al pasar el ratón por encima */
  }


  /*##########################################################################################################################*/
/*###################################  CodigoAutenticacion_View ###################################################################*/
/*##########################################################################################################################*/

#CajaCodigoAutenticacion {
  text-align: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}
 /*##########################################################################################################################*/
/*###################################  Tabla Anuncios Multiples ###################################################################*/
/*##########################################################################################################################*/
#divGridAnunciosMultiples{
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 5%;
  width: 80%;
}

#GridAnunciosMultiples {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#GridAnunciosMultiples td, #GridAnunciosMultiples th {
  border: 1px solid #ddd;
  padding: 8px;
}
#GridAnunciosMultiples tr:nth-child(even){background-color: #f2f2f2;}

#GridAnunciosMultiples tr:hover {background-color: #ddd;}

#GridAnunciosMultiples th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6f068a;
  color: white;
}