.contener {
    display: contents;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; 
}

h2 {
    text-align: center;
    color: #f45f41;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;   
}

.user {
    margin: 10px;
    width: calc(20% - 20px);
    box-sizing: border-box; 
    background: rgba(68, 55, 69, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px 5px rgba(244, 110, 65, 0.738);
}

.user img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
    display: block; 
    margin: 0 auto;
}

.user-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%; 
}


.button-view-profile {
    margin-top: 5px;
    background-color: #f45f41;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s; 
}

.button-view-profile:hover {
    background-color: #d63447; 
}

@media screen and (max-width: 600px) {
    .user {
        width: calc(50% - 20px); 
    }

    .user-details div {
        max-width: 50%; 
    }
}