body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido se extienda al menos al 100% de la altura de la ventana */
}

main {
    flex-grow: 1; /* Hace que el elemento principal (conteniendo tu contenido) ocupe todo el espacio disponible */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido dentro de main */
    justify-content: center; /* Centra verticalmente el contenido dentro de main */
}

h2 {
    color: #ff7f5d;
}

.value-container {
    display: inline-block;
    margin-left: 60px; /* Ajusta el margen según tus preferencias */
}

.value-container1 {
    display: inline-block;
    margin-left: 160px; /* Ajusta el margen según tus preferencias */
}

/* Contenedor izquierdo con bordes y sombras */
#leftContainer {
    background-color: #fff;
    border: 2px solid rgb(247, 155, 90);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(238, 40, 40, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    max-width: 450px; /* Ajusta el tamaño según tus necesidades */
    width: 100%;
    margin-left: 5%;
    /* Alineación vertical */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* Alineación horizontal a la izquierda */
    left: 0;
}

#rightContainer {
    background-color: #fff;
    border: 2px solid rgb(247, 155, 90);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
    margin-left: 35%;
    max-width: fit-content; /* Ajusta el tamaño según tus necesidades */
}

/* Estilos para los campos de Cédula, Nombre y Estado de Validación */
#cedulaFromDatabase,
#nameFromDatabase,
#estadoFromDatabase {
    display: block;
    margin-bottom: 10px;
}

/* Estilos adicionales para el modal */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #524156;
    color: #fff;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.btn-primary {
    background-color: #524156;
    border-color: #ff7f5d;
}

/* Estilos para resaltar el campo de entrada de archivo al pasar el ratón */
#fileInput:hover {
    border-color: #ff7f5d;
}

/* Espaciado entre la cédula y el botón Subir Foto */
#uploadButton,
#cedulaFromDatabase {
    margin-bottom: 20px;
}

/* Estilos para la imagen subida */
#uploadedImage {
    max-width: 75%;
    margin-top: 15px;
}
