.contiene {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Estilos para los detalles del usuario */
#userProfileImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

#userDetails {
    flex: 1;
}

/* Estilos para los botones de activar/desactivar usuario */
.user-options {
    display: flex;
    flex-direction: column;
}

.user-options button {
    margin-top: 10px;
    background-color: #f45f41;
    color: #fff;
    border: none;
    padding: 8px; /* Ajusta el tamaño del padding según tus preferencias */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.user-options button:hover {
    background-color: #d63447;
}

/* Estilos para las opciones de administrador */
.admin-options {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.admin-options h4 {
    margin-bottom: 10px;
}

.admin-options button {
    margin-bottom: 10px;
    background-color: #f45f41;
    color: #fff;
    border: none;
    padding: 8px; /* Ajusta el tamaño del padding según tus preferencias */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.admin-options button:hover {
    background-color: #d63447;
}
